<div id="wrapper">
    <!--Leftmost Sidebar-->
    <div id="left-sidebar-wrapper">
        <ul class="sidebar-nav">
            <li> <a href="#"></a><i class="fas fa-user-circle fa-4x"></i></a></li>
            <li><a href="#"><i class="fas fa-tasks fa-3x"></i></a></li>
        </ul>
        <button id="sign-out-button" type="button" class="btn btn-danger btn-sm btn-rnd">Sign out</button>
    </div>
    <!--Inner Sidebar-->
    <div id="inner-sidebar-wrapper">
        <div id="add-task">
            <textarea class="form-control txt-area-custom" placeholder="Add a new task"></textarea>
            <ul>
                <!--TODO placeholder values for the moment-->
                <li><a style="color:rgb(41, 164, 212)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                <li><a style="color:rgb(252, 255, 101)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                <li><a style="color:rgb(238, 54, 54)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                <li><a style="color:rgb(142, 0, 207)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                <li style="float:right"><button class="btn btn-success btn-sm btn-rnd">Create</button></li>
            </ul>
        </div>
        <div id="tasks-list">
            <ul>
                <li>
                    <label class="check-container">
                        <h4>Task A</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check-container">
                        <h4>Task B</h4> 
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check-container">
                        <h4>Task C</h4>
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </li>
                <li>
                    <label class="check-container">
                        <h4>Task D</h4> 
                        <input type="checkbox">
                        <span class="checkmark"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
    <!--Message Page-->
    <div id="message-page-wrapper">

    </div>
</div>