<div class="container-full h-100">
    <div class="row h-100">
        <div id="left-sidebar-wrapper" class="col-md-1 col-lg-1 d-flex flex-column">
            <ul class="nav flex-column align-items-center">
                <li class="nav-item"> <a href="#"></a><i class="fas fa-user-circle fa-4x"></i></a></li>
                <li class="nav-item"><a href="#"><i class="fas fa-tasks fa-3x"></i></a></li>
            </ul>
            <div class="text-center mt-auto">
                <button id="sign-out-button" type="button" class="btn btn-danger btn-sm btn-rnd">Sign out</button>
            </div>

        </div>
        <div id="inner-sidebar-wrapper" class="col-md-3 col-lg-3">
            <div id="add-task" class="col-md-12">
                <textarea class="form-control txt-area-custom" placeholder="Add a new task" id="taskInput"></textarea>
                <ul class="col-md-12 people-list">
                    <!--TODO placeholder values for the moment-->
                    <li><a style="color:rgb(41, 164, 212)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <li><a style="color:rgb(252, 255, 101)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <li><a style="color:rgb(238, 54, 54)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <li><a style="color:rgb(142, 0, 207)"><i class="fas fa-user-circle fa-2x"></i></a></li>
                    <li class="float-right"><button class="btn btn-success btn-sm btn-rnd" id="postBtn">Create</button></li>
                </ul>
            </div>
            <div id="tasks" class="col-md-12 float-left">
            </div>

        </div>
        <div class="col">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center">Chat</h1>
                </div>
            </div>
            <div class="row">
                <div id="messages" class="col-md-12 message-section">
                    {{#each message}}
                    <div class="{{style}}">
                        <p>{{text}}</p>
                    </div>
                    {{/each}}
                </div>
                
            </div>
            <div class="message-sender-section">

                <div class="input-group mb-3">

                    <input id="message-text" type="text" class="form-control input-msg-txt" placeholder="Type a message..." aria-label="Type a message..."
                        aria-describedby="basic-addon2">

                    <div class="input-group-append">

                        <button id="send-message" type="button" class="btn input-msg-btn">Send</button>

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

<script src="/javascripts/tasks.js"></script>