<div id="wrapper">
    <!--Leftmost Sidebar-->
    <div id="left-sidebar-wrapper">
        <ul class="sidebar-nav">
            <li> <a href="#"></a><i class="fas fa-user-circle fa-4x"></i></a></li>
            <li><a href="#"><i class="fas fa-tasks fa-3x"></i></a></li>
        </ul>
    </div>
    <!--Inner Sidebar-->
    <div id="inner-sidebar-wrapper">

    </div>
    <!--Message Page-->
    <div id="message-page-wrapper">

    </div>
</div>