<!DOCTYPE html>
<html>

<head>
	<title>TechYa</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="../stylesheets/LoginStyle.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="../javascripts/login.js"></script>
	<script type="text/javascript" src="../javascripts/register.js"></script>
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.11.4/sweetalert2.all.min.js"></script>
	<link rel="shortcut icon" href="/Images/link-symbol.png" type="image/x-icon" />
</head>

<body>
	<div class="login-page">
		<div class="forms">
			<form id="form" method="post" action="/users/login">
				<div class="head1">
					<div class="head2">TechYa</div>Project Managment App
				</div><hr>
				<input type="text" id="uName" placeholder="username" class="login-txt-input">
				<input type="password" id="password" placeholder="password" class="login-txt-input">
				<input id="loginBtn" type="submit" value="Sign in" class="btn submit" />
				<form id="form" method="post" action="/users/register  ">
					<input type="text" id="RuName" placeholder="username" class="login-txt-input">
					<input type="password" placeholder="password" id="Rpassword" class="login-txt-input">
					<input type="password" placeholder="re-enter password" id="Rpassword2" class="login-txt-input">
					<input id="regBtn" type="submit" value="Register" class="btn submit" />
					<hr>
					<a class="btn submit google-btn" href="/users/google"><span class="fab fa-google"></span> | Sign in with Google</a>
				</form>
			</form>
			
		</div>
	</div>
</body>
</div>
</body>

</html>