<div id="autocomplete-list" class="autocomplete-items">
    <div class="clickspot">
        <button id="id-picker" value="{{name}}" style="background-color: {{colour}}">{{name}}</button>
        <input id="idVal" type="hidden" value="{{_id}}">
    </div>
</div>