<script src="/javascripts/tasks.js"></script>
<div id="add-task" class="col-md-12">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <textarea class="form-control txt-area-custom" placeholder="Add a new task" id="taskInput"></textarea>
    <input onfocus="(this.type='date')" class="form-control txt-area-custom-date" placeholder="Add task deadline"
        id="taskDeadline">
    <ul id="people-list" class="col-md-12 people-list">
        <!--TODO placeholder values for the moment-->
        <li class="float-right"><button class="btn btn-success btn-sm btn-rnd" id="postBtn">Create</button> </li>
    </ul>
</div>
<div id="tasks" class="col-md-12 float-left tasks-section">
</div>