<script src="/javascripts/teams.js"></script>

<div id="create-team" class="col-md-12">
    <button class="openbtn" onclick="openNav()">&#9776;</button>
    <textarea class="form-control txt-area-custom" placeholder="Create a new team" id="team-input"></textarea>
    <!--TODO add live search for adding users to a team-->
    <input id="user-search" class="form-control txt-area-custom-date" placeholder="Add users">
    <div>
        <ul id="people-list" class="col-md-12 people-list">
            <li class="float-right"><button class="btn btn-success btn-sm btn-rnd" id="postBtn">Create</button>
            </li>
        </ul>
    </div>
    <!--TODO Create teams-section style that mimics the tasks-section-->
    <div id="teams" class="col-md-12 float-left teams-section">
    </div>