<script src="/javascripts/tasks.js"></script>
<script src="/javascripts/user-info.js"></script>
<div class="col-md-12 text-center">
    <a href="#"><i class="fas fa-user-circle fa-4x"></i></a></li>
    <h2>{{user_name}}</h2>
    <div class="text-center mt-auto">
        <button id="sign-out-button" type="button" class="btn btn-danger btn-rnd">Set Color</button>
    </div>
    <h4><b>My Tasks</b></h4>
</div>
<div id="tasks" class="col-md-12 float-left tasks-section"></div>