
.login-page {
  width: 360px;
  padding: 8% 0 0;
  margin: auto;
}
.head1 {
  font-size: 25px;
}
.head2 {
  font-size: 45px;
}

form {
  position: relative;
  z-index: 1;
  background: #efefef;
  max-width: 360px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  border-radius: 20px;
}
input {
  font-family: sans-serif;
  outline: 0;
  background: #efefef;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #fc5b57 ;
  width: 100%;
  border: 0;
  padding: 15px;
  color: #FFFFFF;
  font-size: 14px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
  border-radius: 20px;
}
.btn:hover,.btn:active,.btn:focus {
  background: #c94845;
}
.form .message {
  margin: 15px 0 0;
  color: #8d8d8d;
  font-size: 12px;
}
.form .message a {
  color: #24d1f9;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
body {
  background: #747474;
}