header {
  padding: 156px 0 100px;
}

section {
  padding: 150px 0;
}

.bg-primary {
  background-color: #fc5b57 !important;
}

.login-page {
  padding: 8% 0 0;
  margin: auto;
}
.head1 {
  font-size: 25px;
}
.head2 {
  font-size: 45px;
}

form {
  position: relative;
  z-index: 1;
  background: #efefef;
  max-width: 400px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 0 20px 0 rgba(221, 221, 221, 0.2), 0 5px 5px 0 rgba(221, 221, 221, 0.2);
}

.login-txt-input{
  border-radius: 20px;
  background-color: #fff;
  width: 100%;
  resize: none;
  padding: 10px;
}

input {
  font-family: sans-serif;
  outline: 0;
  background: #efefef;
  width: 100%;
  border: 0;
  margin: 0 0 15px;
  padding: 15px;
  box-sizing: border-box;
  font-size: 14px;
}
.btn {
  font-family: sans-serif;
  text-transform: uppercase;
  outline: 0;
  width: 100%;
  border: 0;
  border-radius: 10px;
  box-shadow: 1px 1px rgba(0, 0, 0, 0.1);;
  padding: 10px;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40
  font-size: 18px;
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
  cursor: pointer;
}
.btn:hover {
  color: #fff;
  background-color: #495057;
  border-color: #495057;
  }



.form .message {
  margin: 15px 0 0;
  color: #8d8d8d;
  font-size: 12px;
}
.form .message a {
  color: #24d1f9;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.google-btn{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding:10px;
  background: #343a40;
}

.google-btn:hover{
  color: #fff;
}


body {
 
  overflow-y: visible;
}