#wrapper{
    padding-left: 410px;
    -webkit-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

#left-sidebar-wrapper{
    z-index: 1000;
    position: fixed;
    display: flex;
    left:100px;
    align-items: center;
    justify-content: center;
    top:0;
    width:100px;
    height: 100%;
    margin-left: -100px;
    overflow-y: auto;
    background:#747474;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s;
}

#inner-sidebar-wrapper{
    z-index: 1000;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    left: 405px;
    top: 0;
    width: 300px;
    height: 100%;
    margin-left: -300px;
    overflow-y: auto;
    background: #8d8d8d;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s;
}

#message-page-wrapper{
    padding: 20px 0;
    max-width: 100%;
    height: 100%;
    position: fixed;
    background: #fff;
}


.message-title{
    height: 5%;
    text-align: center
}

.message-section{
    background: #fff;
    height: 85%;
    width: 100%;
    overflow-y: scroll;
}

.message-sender-section{
    padding: 20px 0;
}

.message-sender-input{
    margin: 0 auto;
    width: 80%;
}




#add-task{
    position: fixed;
    top: 20px;
}

#add-task ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#add-task ul li{
    padding: 2px;
    display: inline-block;
}

#tasks-list{
    position: fixed;
    top: 200px;
}

#tasks-list ul{
    position: absolute;
    right:10px;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow:hidden;
}

#tasks-list ul li{
    margin: 5px 0;
}

#tasks-list ul li label{
    margin: 5px 0;
}

#tasks-list ul li label span{
    top: 2px;
}

#sign-out-button{
    position: fixed;
    bottom: 5%;
    
}


.sidebar-nav{
    position: fixed;
    text-align: center;
    top:20px;
    width: 100px;
    margin:0;
    padding: 0;
    list-style: none;
}

.sidebar-nav li {
    line-height: 40px;
   
}

.sidebar-nav li a {
    display: block;
    margin: auto;
    text-decoration: none;
    color: #999999;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255,255,255,0.2);
}

textarea{
    margin-bottom: 10px;
}

h4{
    display:block; 
    white-space:nowrap; 
    overflow:hidden
}

body{
    background-color: #000000;
}

