/*  COLORS
    #efefef --  LIGHT GREY
    #24d1f9 --  LIGHT BLUE
    #8d8d8d --  MID GREY
    #000000 --  BLACK
    #747474 --  DARK GREY
    #54b936 --  GREEN
    #fc5b57 --  RED
*/

html{
    margin: 0;
    padding: 0;
}

/* Round buttons */

.btn-rnd{
    border-radius: 20px;
}
.txt-area-custom-date{
    border-radius: 20px;
    border-width: 0;
    background-color: #efefef;
    width: 100%;
    resize: none;
    padding: 20px;
    margin-top: 10px;
}

/* Text area*/
.txt-area-custom{
    border-radius: 20px;
    border-width: 0;
    background-color: #efefef;
    width: 100%;
    resize: none;
    padding: 20px;
}

.txt-area-custom:focus{
    outline: 0;
    box-shadow: none;
    background-color: #efefef;
}

/* Text input */
.input-msg-txt{
    border-radius: 30px;
    border-width: 0;
    background-color: #efefef;
    height: 60px;
    padding: 20px;
}

.input-msg-txt:focus{
    outline: 0;
    box-shadow: none;
    background-color: #efefef;
}

/* Text input button inside */
.input-msg-btn{
    border-radius: 30px;
    border-width: 0;
    background-color: #efefef;
    color: #24d1f9;
    border-left-width: 4px;
    border-color: #8d8d8d;
    padding: 0 30px;
    margin: 0;
}

.input-msg-btn:focus{
    outline: 0;
    box-shadow: none;
    background-color: #efefef;
}

/* Messages received */
.msg-received{
    margin: 1% 2%;
    float: left;
    max-width: 40%;
    width: auto;
    clear: both;
}
.task-update{
    margin: 1% 2%;
    float: right;
    max-width: 40%;
    clear: both;
}
.msg-received div{
    background-color: #24d1f9;
    padding: 20px;
    border-left: 15px solid;
    border-radius: 30px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    color: #efefef; 
    width: 100%;
    max-width: 100%;
    margin:  1% 2%;
    
}
.msg-received p{
    margin: 0;
}

.msg-received span{
    color: #8d8d8d;
    float: left;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    clear: both;
    margin:  0% 2%;
    font-weight: bold;
}

/* Messages sent */
.msg-sent{
    margin: 1% 2%;
    float: right;
    max-width: 40%;
    clear: both;
}

.msg-sent div{
    background-color: #efefef;
    padding: 20px;
    border-radius: 30px;
    color: #000000;
    width: 100%;
    max-width: 100%;
    margin:  1% 2%;

}

.msg-sent p{
    margin: 0;
}

.msg-sent span{
    color: #8d8d8d;
    float: right;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    clear: both;
    margin:  0% 2%;
    font-weight: bold;
}

/* Task Added to Message */

.msg-task-created{
    margin: 40px auto;
    max-width: 40%;
    clear: both;
}

.msg-task-created div{
    background-color: #efefef;
    padding: 40px;
    border-radius: 10px;
    color: #000000;
    width: 100%;
    max-width: 100%;
    margin:  1% 2%;
}

.msg-task-created p{
    margin: 0;
    text-align: center;
}

.msg-task-created span{
    color: #8d8d8d;
    padding-top: 0px;
    padding-bottom: 15px;
    padding-left: 5px;
    clear: both;
    margin:  0% 2%;
    font-weight: bold;
}

/* Round Checkbox */

.check-container {
    display: block;
    position: relative;
    padding-left: 45px;
    margin-bottom: 50px;
    cursor: pointer;
    font-size: 35px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
  
.check-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}  

.checkmark {
    position: absolute;
    top: 0;
    left: 5px;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    border: 3px solid #efefef;
}
  
.check-container:hover input ~ .checkmark {
    background-color: #efefef;
}
  
.check-container input:checked ~ .checkmark {
    background-color: #54b936;
    border: 0;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
  

.check-container input:checked ~ .checkmark:after {
    display: block;
}
  